.header__banner ul.slick-dots {
  top: 50%;
  left: 95%;
}

.header__banner ul.slick-dots li {
  display: list-item;
  width: auto;
}

.slick-slide img {
  display: inline-block;
}

.header__banner .slick-dots {
  width: auto;
}

.slick-dots li button:before {
  content: '○';
  opacity: 1;
  color: white;
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fffcfc;
  content: '●';
}

.header__banner  .slick-dots li {
  margin: 5px 0;
}