.social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 160px;

  &__header {

    @media screen and (max-width: $mobile-start) {
      display: none;
    }
  }

  &__link:hover svg {
    fill: $color-blue;
    transform: scale(120%);
  }
}